<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Bemvindo ao centraldecomando.com.br, <%= @user.name %></h1>
    <p>
      Seu cadastro foi realizado com suceso,
      seu login é: <%= @user.username %>.<br/>
    </p>
    <p>
      Para efetuar o login acesse: <%= @url %>.
    </p>
    <p>Obrigado por usar os serviços da Central de Comando</p>
  </body>
</html>