<script> 
  $(function(){
	$('#close').click(function(){
	   $('#modal-alter-password').modal('hide'); 
	});
})
</script>
<div id="modal-alter-password" class="modal hide fade">
	<div class="modal-header">
	    <h3>Alterar senha</h3>
	</div>              
	<% form_tag(alter_password_cc_user_path(current_user), :method => 'post') do %>
	<div class="modal-body">  
		<div class="clearfix">
			<label for="xlInput">Nova senha</label>
		    <div class="input">
		       <%= password_field_tag :password_new, '', :class => "xlarge" %>
		    </div>
		</div> 
		<div class="clearfix">
			<label for="xlInput">Confirmação</label>
		    <div class="input">
		       <%= password_field_tag :password_confirmation, '', :class => "xlarge" %>
		    </div>
		</div>
		
	</div>
    <div class="modal-footer">
		<input type="submit" class="btn primary" value="Salvar">   
		<a href='#' id="close" class ="btn secondary">Sair</a>
	</div>     
	<% end -%> 
</div>

