   <%= render "shared/error_messages", :target => @client %>
   <div class="clearfix">
     <label for="xlInput"><%= t("activerecord.attributes.client.name", :default => "Name") %></label>
     <div class="input">
       <%= f.text_field :name, :class => "xlarge" %>
     </div>
  </div>
       

<div class="actions">
  <input type="submit" class="btn large primary" value="Salvar">&nbsp;<%= link_to t("bootstrap-rails.cancel", :default => "Cancel"), clients_path, :class => "btn large" %>
</div>

