<script type="text/javascript">
  
</script>
<%= link_to "Especificações >>", home_po_path, :class => "btn success large span3" %>
<div class="block">
  <div class="content" >         
    <% Chart.where("user_id = ? and sidebar = true", current_user.id).each do |c|%>     
      <h5><%= c.name %></h5>
      <%= high_chart(c.name, Chart.execute_chart(c.id)) %>
    <% end %>  
     ￼  
      
  </div>
</div>
