<script type="text/javascript">
  
</script>

<div class="block">
  <h5>Atribuídas à mim</h5>
  <div class="content" >  
	     <div id="chart-01"></div> 
     ￼  <%= high_chart("my_id", @h) %>
      
  </div>
</div>
