<script> 
  function atualizar_sprints(){  
	var p = $("#chart_project_id").val()
	jQuery.get('/sprints/combo_sprints?project_id=' +p , function(data){
	        $("#combo_sprints").html(data);
	});
	return false;
}
</script>
<div class="clearfix">
  <label for="xlInput">Projeto</label>
  <div class="input">
    <%= select_tag :chart_project_id, options_from_collection_for_select(Project.find_all_by_account_id(current_user.account_id), "id", "name", nil), {:include_blank => true, :class => "xlarge", :onchange => "atualizar_sprints()"}%>
  </div>
</div>  

<div class="clearfix">
  <label id="optionsRadio">Sprint</label>
  <div class="input">
    <ul class="inputs-list">
      <li>
        <label>   
	      <div class="row">   
		    <div class="span3">
              <input type="radio" checked name="chart_sprint_option" value="1" />
              <span>Todos os sprints</span>
            </div>
            <div class="span6">
              <input type="checkbox" name="chart_group_sprint" />
			  <span>Agrupar por sprint</span>
            </div>
          </div>
        
        </label>    
	       
      </li>
      <li>
        <label>
          <input type="radio" name="chart_sprint_option" value="2" />
          <span id="combo_sprints">
           
            <%= render :partial => 'sprints/combo_sprints', :locals => {:sprints => nil} %>
            
        </label>
      </li>  
      <li>
        <label>
          <input type="radio" name="chart_sprint_option" value="3" />
          <span>Últimos sprints</span>  
          <input class="mini" id="chart_last_sprints" name="chart_last_sprints" size="16" type="text" />
        </label>
      </li>
    </ul>
  </div>
</div>