<%= form_tag tickets_path, :method => :get,  :class => "form-stacked"  do %>


	  <%= render :partial => 'search_fields' %>

<div class="group navform wat-cf">    
  <input type="submit" class="btn primary" value="Buscar">  

</div>
<% end %>