<ul>
	<li><a href='<%= cc_users_path %>'><%=t('web-app-theme.users', :default => 'Usuários')%></a></li>  
	<li><a href='<%= priorities_path %>'><%=t('activerecord.models.priority', :default => 'Priority')%></a></li>
	<li><a href='#'>Fluxo do item de backlog</a></li>
</ul>